__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyc/
*.pyo/
*.pyd/
*.pyw/
*.pyz/  
*.pyzw/
*.pyc/*
*.pyo/*
*.pyd/*
*.pyw/*


venv/
.idea/
.vscode/
*.iml
*.ipynb_checkpoints/
*.egg-info/
*.egg/
*.eggs/
*.dist-info/
*.dist/
*.build/
*.buildozer/
*.cache/
*.env/
*.log
*.logs
*.tmp
*.temp
*.swp
*.swo
*.swn
